*{
        margin: 0;
        padding: 0;
}
/* start header-home section  */
.header-home{
        background-image: url(../img/download.jpg);
        background-size: cover;
        height: 600px;
}
.header-home h2{
        background-color: hsl(160.87deg 27.71% 51.18%);
        width: 290px;
        height: 380px;
        margin-top: 122px;
        margin-left: 70px;
        padding: 24px;
        font-size: 40px;
        font-family: monospace;
        letter-spacing: 1px;
        border-radius: 20px;
        
}
/* end header home section */
/* start content-home section */
.content-home h4{
        color: hsl(184.9deg 42.24% 45.49%);
}
.content-home h3{
        color: hsl(179.14deg 83.33% 16.47%);
}
.content-home hr{
        background-color:hsl(30.86deg 82.68% 50.2%);
        width: 19%;
        height: 4px;
        margin: auto;
        margin-bottom: 35px;
        border: none;
}
.content-home img{
        width: 80%;
}
.content-home .img-item{
        margin-top: 60px;
} 
.content-home .article-item{
        margin-top: 57px;
}
.content-home p{
        font-family: cursive;
        font-size: 20px;
}
/* end content-home section */
/* start item-home section */
.item-home{
        background-image: url(../img/Path\ 62.png) , url(../img/i-love-my-job-so-much_329181-2178.png);
        background-size: cover;
        height: 700px;
        padding-top: 70px;
}
.item-home img{
        margin: auto;
        display: block;
        width: 90%;
}
.item-home h4{
        font-size: 19px;
        padding-top: 20px;
}
.item-home .image{
        border-radius: 14px;
}
.item-home p{
        color: hsl(0deg 0.4% 48.43%);
}
.item-home h4{
        color: hsl(184.9deg 42.24% 45.49%);
        font-family: Arial, Helvetica, sans-serif;
}
/* end item home section */
/* start footer section */


.f-home{
        background-color: hsl(167.78deg 78.26% 27.06%);
        height: 390px;
        color: #Fff;
        padding-top: 80px;
        border-radius:170px 170px 0 0;
}
.f-home h2{
        color: hsl(7.69deg 84.17% 72.75%);
}

/* end footer section */

/* //////media quuery section//// */
@media only screen and (max-width:992px) {
        .item-home{
                height: fit-content;
                padding-bottom: 50px;
        }
        .item-home h2{
        padding-top: 35px;
        }
}
@media only screen and (max-width:1200px){
        .item-home h4{
        font-size: 15px !important;
        }
}

@media only screen and(max-width:768px){
        .i-home img{
                width:50% !important;
                display: block;
                margin: auto;
                margin-bottom: 30px;
        }
}
@media only screen and (max-width:576px){
        .f-home{
                height: 620px;
        }
}